# fly.toml app configuration file generated for fullduplex on 2025-11-18T01:46:40-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fullduplex'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
